.form {
  margin-bottom: 5rem;
}

.fieldsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  align-items: end;
}
.avatar {
  margin: 0 auto;
}

.uploadPhotoBtn {
  margin: 0 auto;
}

.options {
  display: flex;
  gap: 20px;
}
.saveOptions {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  gap: 20px;
}
