.history {
  margin-top: 5rem;
}

.records {
  background-color: #f0f3f5;
  padding: 20px;
  border-radius: 5px;
  margin: 2rem 0;
}

.recordHeader {
  background-color: #6db6eb;
}

.recordTitle {
  font-size: 1rem;
}
