table {
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  border-radius: 10px;
  width: 100%;
}

td,
th {
  /* border: 1px solid rgb(190, 190, 190); */
  padding: 10px 20px;
}

th {
  background-color: white;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: #feffff;
}

tr:nth-child(odd) td {
  background-color: #eff8fe;
}

.button {
  font-size: 0.825rem;
  padding: 10px 20px;
}
