* {
  box-sizing: border-box;
  /* quando defino uma altura ou largura, elas incluem padding, conteudo e border */
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 75rem;
  /* padding: 0 1rem; */
  margin: 0 auto;
}
