.label {
  font-size: 1.2rem;
}

.wrapper {
  margin-bottom: 20px;
}

.input {
  display: block;
  border: 1px solid #d6e4ee;
  font-size: 1rem;
  width: 100%;
  padding: 0.7rem;
  border-radius: 4px;
  margin-top: 5px;
  background-color: #f0f3f5;
}

.input:focus {
  outline: none;
  background-color: white;
  box-shadow: 0 0 0 2px #bde3ff;
}

.error {
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
